<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.order.dao.SaleMapper">
    <select id="findByOrderIdIn" resultType="java.util.Set" parameterType="java.util.List">
        select order_id from salesOrder where order_id in
        <foreach collection="orderIds" item="order_id" open="(" separator="," close=")">
            #{order_id}
        </foreach>
    </select>
    <insert id="insert">
        INSERT INTO SalesOrder (order_id, tx_datetime,store_code,customer_name,sales_person,total_amount,discount,payment_method,status,priority,shipping_method,shipping_address,order_source,order_type,remark,created_by,created_at,updated_by,updated_at,version) VALUES
        <foreach item="order" collection="salesOrders" separator=",">
            (#{order.orderId}, #{order.txDatetime},#{order.storeCode},#{order.customerName},#{order.salesPerson},#{order.totalAmount},#{order.discount},#{order.paymentMethod},#{order.status},#{order.priority},#{order.shippingMethod},#{order.shippingAddress},#{order.orderSource},#{order.orderType},#{order.remark},#{order.createdBy},#{order.createdAt},#{order.updatedBy},#{order.updatedAt},#{order.version})
        </foreach>
    </insert>
</mapper>