<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.order.dao.ProductPriceMapper">
    <select id="findByProductIdAndEffectiveDate" resultType="java.util.Set">
        SELECT product_id, effective_date FROM product_price
        WHERE (product_id, effective_date) IN
        <foreach item="price" collection="productPrices" open="(" separator="," close=")">
            (#{price.productId}, #{price.effectiveDate})
        </foreach>
    </select>
    <select id="findByProductPrice" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT product_id, price
        FROM product_price
        WHERE (product_id, effective_date) IN
        <foreach item="item" index="i" collection="productIds" open="(" separator="," close=")">
            (#{item}, #{effectiveDates[${i}]})
        </foreach>
    </select>
    <insert id="insert" parameterType="java.util.List">
        INSERT INTO product_price (product_id, price,effective_date,expiry_date,created_by,created_at,updated_by,updated_at,version) VALUES
<!--        <foreach item="user" collection="list" separator=",">-->
            (#{param.productId}, #{param.price},#{param.effectiveDate},#{param.expiryDate},#{param.createdBy},#{param.createdAt},#{param.updatedBy},#{param.updatedAt},#{param.version})
<!--        </foreach>-->
    </insert>
    <update id="updateProductPrice">
<!--        <foreach collection="productPrice" item="price" separator=";">-->
            UPDATE product_price
            SET price = #{price.price},expiry_date = #{price.expiryDate},updated_by = #{price.updatedBy},updated_at = #{price.updatedAt},version = version + 1
            WHERE product_id = #{price.productId} and effective_date = #{price.effectiveDate}
<!--        </foreach>-->
    </update>
</mapper>