<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.admin.dao.VipMapper">
    <insert id="insert" parameterType="java.util.List">
        INSERT INTO vip_bonus (vip_code, tx_Datetime,bonus,created_by,created_at,updated_by,updated_at,version) VALUES
<!--        <foreach item="vip" collection="param" separator=",">-->
            (#{param.vipCode}, #{param.txDatetime},#{param.bonus},#{param.createdBy},#{param.createdAt},#{param.updatedBy},#{param.updatedAt},1)
<!--        </foreach>-->
    </insert>
</mapper>
