<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.batckTask.dao.BatchTaskMapper">
    <insert id="insert">
        INSERT INTO batch_task (name,description,job_class,cron,enable,config,created_by,created_at,updated_by,updated_at,version) VALUES
        <foreach item="task" collection="tasks" separator=",">
            (#{task.name},#{task.jobClass},#{task.cron},#{task.enable},#{task.config},#{task.createdBy},#{task.createdAt},#{task.updatedBy},#{task.updatedAt},#{task.version})
        </foreach>
    </insert>
    <update id="updateTask">
        <foreach collection="list" item="user" separator=";">
            UPDATE Inventory
            SET product_id = #{inv.product_id},qty = #{inv.qty},updated_by = #{inv.updatedBy},updated_at = #{inv.updatedAt},version = version + 1
            WHERE product_id = #{inv.product_id}
        </foreach>
    </update>
</mapper>